In [2]:
import pyarrow.parquet as pq

In [3]:
Jan = pq.read_table(source = 'yellow_tripdata_2023-01.parquet')
Feb = pq.read_table(source = 'yellow_tripdata_2023-02.parquet')

df_Jan = Jan.to_pandas()
df_Feb = Feb.to_pandas()

In [4]:
df_Jan_Clean = df_Jan.copy()
df_Jan

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [5]:
df_Jan_Clean['duration'] = (df_Jan['tpep_dropoff_datetime'] - df_Jan['tpep_pickup_datetime']).dt.total_seconds()/60

In [6]:
import numpy as np
std = np.std(df_Jan_Clean['duration'])     
print(std)

42.5943442974141

In [7]:
df_Jan_Clean = df_Jan_Clean.query('1 <= duration <= 60')

In [8]:
df_Jan_Clean

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [9]:
print(3009173/3066766)

0.9812202822125979

In [10]:
# 1. Convert location IDs to strings
df_Jan_Clean[['PULocationID', 'DOLocationID']] = df_Jan_Clean[['PULocationID', 'DOLocationID']].astype(str)

# 2. Create list of dictionaries
dicts = df_Jan_Clean[['PULocationID', 'DOLocationID']].to_dict(orient='records')

# 3. Initialize and fit DictVectorizer
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer()
X = dv.fit_transform(dicts)

# 4. Check dimensionality
print(f"Feature matrix shape: {X.shape}")  # (n_samples, n_features)

Feature matrix shape: (3009173, 515)

In [11]:
y = df_Jan_Clean['duration'].values
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [12]:
# 1. Initialize and train the model
lr = LinearRegression()
lr.fit(X, y)  # This is where the actual training happens

# 2. Make predictions on training data
y_pred = lr.predict(X)

# 3. Calculate RMSE
rmse = np.sqrt(mean_squared_error(y, y_pred))
print(f"Training RMSE: {rmse:.2f} minutes")

Training RMSE: 7.65 minutes

In [13]:
# Process February data same as January data
df_Feb['duration'] = (df_Feb['tpep_dropoff_datetime'] - df_Feb['tpep_pickup_datetime']).dt.total_seconds()/60
df_Feb_Clean = df_Feb[(df_Feb['duration'] >= 1) & (df_Feb['duration'] <= 60)]

# Apply same DictVectorizer transformation
val_dicts = df_Feb_Clean[['PULocationID', 'DOLocationID']].astype(str).to_dict(orient='records')
X_val = dv.transform(val_dicts)  # Use transform() not fit_transform()
y_val = df_Feb_Clean['duration'].values

In [14]:
# Make predictions and calculate RMSE
y_val_pred = lr.predict(X_val)
val_rmse = np.sqrt(mean_squared_error(y_val, y_val_pred))
print(f"Validation RMSE: {val_rmse:.2f} minutes")

Validation RMSE: 7.81 minutes